@model IEnumerable<Library.Models.EntityDataModel.Book>

@{
    ViewBag.Title = "Index";
}

<h1>All Books</h1>

<p>
    @Html.ActionLink("Add New Book", "Create",null,htmlAttributes: new { @class = "btn btn-success btn-lg" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Book Name")
        </th>
        <th>
            @Html.DisplayName("Author Name")
        </th>
        <th>
            @Html.DisplayName("code")
        </th>
        <th>
            @Html.DisplayName("Quantity")
        </th>
        <th>
            @Html.DisplayName("Available Quantity")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrignalQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaliableQuantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary btn-lg"}) |
                <button id="bookId" value=@item.Id class="anchorAlert btn btn-danger btn-lg" type="button">Delete</button>
            </td>
        </tr>
    }

</table>
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>
    @section scripts
{
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script>
            var getBackURL = '/Book/ConfirmDeleteBook';
            $(function () {
                $(".anchorAlert").click(function () {
                    var $buttonClicked = $(this);
                    var id = $('#bookId').val();
                    var options = { "backdrop": "static", keyboard: true };
                    $.ajax({
                        type: "GET",
                        url: getBackURL,
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
                $("#closbtn").click(function () {
                    $('#myModal').modal('hide');
                });
            });
        </script>
    }

